// // Custom.scss
// // Option B: Include parts of Bootstrap

// // 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "~bootstrap/scss/functions";

// // 2. Include any default variable overrides here

// // 3. Include remainder of required Bootstrap stylesheets
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// // 4. Include any optional Bootstrap components as you like
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/containers";
// @import "~bootstrap/scss/grid";

// // 5. Add additional custom code here

$primary: #0074d1;
$danger: #ff4136;
@import "~bootstrap/scss/bootstrap";

.nav-hover:hover {
    background-color: $danger;
}

.featured {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto, 1fr));
    grid-auto-rows: minmax(8, minmax(100px, 200px));
    .featured1 {
        img {
            max-height: 300px;
            object-fit: cover;
        }
        grid-column: 4 / 6;

        &:nth-of-type(1) {
            grid-column: 1 / 4;
            grid-row: 1 / 9;
        }
        // &:nth-of-type(2) {
        //     // background-color: blue;
        // }
        // &:nth-of-type(3) {
        //     // background-color: yellow;
        // }
    }
}
.trending {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-auto-rows: minmax(3, minmax(100px, 100px));
    gap: 10px;
    .trending1 {
        grid-row: 3 / 4;
        max-height: 200px;
        &:nth-of-type(1) {
            max-height: 400px;
            overflow: hidden;
            grid-row: 1/3;
            grid-column: 1/3;
            img {
                object-fit: cover;
            }

            .card-body {
                box-shadow: inset 0 -10rem 70px #00000070;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                color: #fff;
                .text-muted {
                    color: #fff !important;
                }
            }
        }
    }
}
